h3{text-align: center;font-family: "Shrikhand";}
.tables{margin: auto}
#id1{border-style: solid;border-width: 5px;border-color: white;background-color:#6A041D;width: 200px;height:400px;}
#id2{border-style: solid;border-width: 5px;border-color: white;background-color:#53FF45;width: 200px;height:400px;}
#id3{border-style: solid;border-width: 5px;border-color: white;background-color:#F6E8EA;width: 200px;height:400px}
#id4{border-style: solid;border-width: 5px;border-color: white;background-color:#000000;width: 200px;height:400px}
#id5{border-style: solid;border-width: 5px;border-color: white;background-color:#FF2C55;width: 200px;height:400px}
